@charset "utf-8";

header{
    text-align: center;
    background: rgb(254,251,244);
    max-width: 50%;
    margin: 2rem auto 60px;
    padding:1.1rem 0;
} 

main {
    background: black;
    padding: 0 1.5rem 1.5rem; 
    text-align: center;
    max-width: 73%;
    margin: auto;
}

main ul{
    list-style: none;
}

input:not(#u_policy){
    width:90%;
    margin-top:1.2em
}

.u_policy{
    margin:1.2em 0;
}

.iframe-container {
    position: relative;
    width: 100%; /* Full width of its parent container */
    padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
    height: 0; /* Zero height for now */
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    border: 0; /* Optional: clean up the border */
}
